{#
 # Homepage template
 # ---------------
 #
 #}



{% extends "layout.njk" %}

{% block header %}
    {# HEADER #}
    {% include "modules/m-header.njk" %}
{% endblock %}

    
{% block content %}
    {# SLIDER #}
    {% include "modules/m-slider.njk" %}
{% endblock %}
