<section class="information js-information" id="information">

    <div class="side-left">
        <p>
            Offshore Studio is a Zurich-based design studio, founded by Isabel Seiffert and Christoph Miler.
            Their projects have a strong focus on editorial design, typography and storytelling. Next to
            commissions and collaborations, Offshore Studio investigates critical issues of design, media
            and globalisation in self-initiated projects.
        </p>

        <p>
            The design practice of Offshore Studio reflects the fundamental idea of ‘Offshoring’—the
            relocation of working processes to other cities, countries and continents. Going offshore means
            to elude closed territories and start to connect elsewhere. Driven by the aim to explore the
            remote, unknown and invisible, being and thinking offshore embodies one of the studios’ key
            principles. In doing so, their modes of production become inevitably collaborative, transnational
            and decentralized, questioning the traditional boundaries of space, time and professions.
        </p>

        <p>
            Don’t hesitate to get in touch for commissions or collaboration requests.
            <br>
            <a class="js-hover-trigger" href="heaven@offshorestudio.ch">→ heaven@offshorestudio.ch</a>
        </p>

        <p>
            Note: We are currently not offering internships in our studio, and will not be able to respond to
            all requests. Nevertheless, if you would like to share your work with us, feel free to send a PDF
            or URL by email.
        </p>

        <address class="information-bottom">
            <a href="https://www.google.hu/maps/place/Geroldstrasse+31,+8005+Z%C3%BCrich/@47.3856036,8.5161331,17z/data=!3m1!4b1!4m5!3m4!1s0x47900a3efdf1ac47:0x95c97a5ec4d51b4d!8m2!3d47.3856!4d8.5183218" target="_blank">
                <span class="js-hover-trigger">Geroldstrasse&nbsp;31/33</span>
                <br>
                <span>CH-8005 Zurich</span>
            </a>
        </address>

        <div class="information-bottom col-2">
            → <a class="js-hover-trigger" href="mailto:heaven@offshorestudio.ch" target="_blank">Mail</a>
            <br>
            → <a class="js-hover-trigger" href="https://www.instagram.com/offshore.studio/" target="_blank">Instagram</a>
        </div>

    </div>


    <div class="side-right">

        <h2>AWARDS</h2>
        <dl>
            <dt>2017</dt>
            <dd>Swiss Design Awards, Nominee</dd>

            <dt>2017</dt>
            <dd>TDC Tokyo 2017, selected as a work of ‚excellence‘</dd>

            <dt>2016</dt>
            <dd>German Design Award Nominee 2017</dd>

            <dt>2016</dt>
            <dd>Graphic Design Festival Scotland, Shortlist Poster Competition</dd>

            <dt>2016</dt>
            <dd>Österreichischer Staatspreis 2015</dd>

            <dt>2016</dt>
            <dd>Bronze Medal ‘Most beautiful books from all over the world’</dd>

            <dt>2015</dt>
            <dd>Most Beautiful Books from Austria</dd>

            <dt>2015</dt>
            <dd>Type Directors Club New York 61 in Communication Design</dd>

            <dt>2015</dt>
            <dd>Graphic Design Festival Scotland, Shortlist Poster Competition</dd>

            <dt>2015</dt>
            <dd>100 Beste Plakate 14</dd>

            <dt>2014</dt>
            <dd>German Design Award Newcomer Nominee 2015</dd>
        </dl>

        <h2>LECTURES & WORKSHOPS</h2>
        <dl>
            <dt>2017</dt>
            <dd>Lecture at HGK, Hochschule für Gestaltung und Kunst, Basel</dd>

            <dt>2017</dt>
            <dd>Lecture at F+F Schule für Kunst und Design, Zurich</dd>

            <dt>2017</dt>
            <dd>Keynote on Migrant Journal at The Modern Magazine, London</dd>

            <dt>2017</dt>
            <dd>Keynote on Migrant Journal at Indiecon, Hamburg</dd>

            <dt>2017</dt>
            <dd>Lecture at Weissensee Kunsthochschule Berlin</dd>

            <dt>2017</dt>
            <dd>Lecture and workshop at IDEP Barcelona</dd>

            <dt>2017</dt>
            <dd>Talk at Ligature Connections 8 in Lausanne</dd>

            <dt>2016</dt>
            <dd>Lecture Zurich University of the Arts, Fubu</dd>

            <dt>2016</dt>
            <dd>Lecture Zurich University of the Arts, Reality Check, Master of Arts in Design</dd>

            <dt>2016</dt>
            <dd>Semester launch lecture, Master of Arts in Design, University of the Arts Berne</dd>

            <dt>2016</dt>
            <dd>External judge, class of Andreas Uebele. HSD Duesseldorf</dd>

            <dt>2016</dt>
            <dd>Lecture FH Dortmund, Germany</dd>

            <dt>2016</dt>
            <dd>Reading at Corner College Zurich, Switzerland</dd>

            <dt>2016</dt>
            <dd>Lecture at HfG Karlsruhe, Germany</dd>

            <dt>2015</dt>
            <dd>Soirée graphique, Berne, Switzerland</dd>

            <dt>2015</dt>
            <dd>Lecture Paperness, Stuttgart, Germany</dd>

            <dt>2015</dt>
            <dd>Workshop ‘Zinetific’. Merz Akademie, Stuttgart, Germany</dd>

        </dl>

        <h2>EXHIBITIONS</h2>
        <dl>
            <dt>2018</dt>
            <dd>Natural Capital (Modal Alam), Brussels</dd>

            <dt>2017</dt>
            <dd>Swiss Design Awards in Basel</dd>

            <dt>2016</dt>
            <dd>umlaut‘‘ Gallery, London, UK. Migrant Journal – Maps on Migration</dd>

            <dt>2016</dt>
            <dd>Depot Basel, Switzerland. MigrantJournal – Maps on Migration</dd>

            <dt>2016</dt>
            <dd>Decima X, London, UK. Migrant Journal Symposium</dd>

            <dt>2015</dt>
            <dd>Festival for young literature Freiburg, Nowhere Men</dd>

            <dt>2014</dt>
            <dd>Not the End of Print, Book Launch, Projektraum LOTTE, Stuttgart, German</dd>

            <dt>2014</dt>
            <dd>Netzpolitik Daily, Projektraum LOTTE. Stuttgart, Germany</dd>

        </dl>

        <h2>SELECTED PRESS</h2>
        <ul>
            <li>
                It’s Nice That
            </li>
            <li>
                Monocle
            </li>
            <li>
                Eye on Design
            </li>
            <li>
                Ligature.ch
            </li>
            <li>
                ZEIT Magazin
            </li>
            <li>
                Shoplifters 4
            </li>
            <li>
                Wallpaper+ Magazine
            </li>
            <li>
                Form Magazin
            </li>
            <li>
                Slanted
            </li>
            <li>
                Arcademi
            </li>
            <li>
                Novum
            </li>
            <li>
                I Love Type Series
            </li>
            <li>
                Design Everywhere
            </li>
            <li>
                This is Paper
            </li>
        </ul>

    </div>

</section>
