* {
  box-sizing: border-box;
}


body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background: white;
  overflow-x: hidden;
  font-family: $text;
  color: $text-color;
}


.hidden {
  display: none;
}


.hidden-bps {
    @include bp-s {
        display: none;
    }
}
