{#
 # Layout template
 # ---------------
 #
 #}


 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Offshore Studio</title>
   <link rel="stylesheet" href="assets/css/main.css">
   <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
 </head>
 <body>

     <header>
         {% block header %}{% endblock %}
     </header>

     <div class="intro-cover"></div>


     <main>
         {% block content %}{% endblock %}
     </main>

     <div class="text-hover js-text-hover"></div>



     {# JS #}
     <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
     <script src="assets/js/all.js"></script>

 </body>
 </html>
